@page "/register"
@model GasProjectManager.Areas.Identity.Pages.Account.RegisterModel
<div class="card d-grid gap-2 col-3 mx-auto">
    <div class="card-header card text-center">Ajouter un nouveau Utilisateur de GPM</div>
    <hr/>
  <div class="card-body">   
    <form id="account" method="post">
        <div class="container-fluid mx-auto col-4">
            <img src="/img/steg.png"/>
        </div>
        <div class="zonetext1">
            <div class="form-floating" style="margin:10px">
                <input asp-for="Input.Matricule" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Matricule" class="form-label">Matricule:</label>
                <span asp-validation-for="Input.Matricule" class="text-danger"></span>
            </div>
        </div>
        <div class="zonetext2">
           <div class="form-floating" style="margin:10px">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label">Mot de Passe:</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button">Register</button>
            </div>
           
        </div>
    </form>
  </div>
